@use "../../styles/_variables.scss" as *;
@use "../../styles/_reset.scss" as *;
@use "../../styles/_typography.scss" as *;


.button{
  position: relative;
  height: 3rem;
  width: 8rem;
  border-radius: 1rem;
  border: 0.15rem solid $color-black;
  background-color: #721ff5;
  color: $color-white;
  font-family: $primary-font-family;
  font-weight: 900;
  font-size: 0.95rem;
  box-shadow: 0rem 0rem 1rem rgba(128, 128, 128, 0.586);
  transition: 300ms;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  padding: 0.2rem;
  &:active{
      cursor: pointer;
      text-decoration: underline;
      // height: 2.9rem;
      border: 0.25rem solid $color-black;
      background-color: $color-black;
      color: #721ff5;
      // width: 6rem;
      box-shadow: 0rem 0rem 1.5rem rgba(128, 128, 128, 0.586);
      transition: 50ms;
      padding: 0.2rem;
  }
  &:hover{
    cursor: pointer;
  }
}
