@use "../../styles/_variables.scss" as *;
@use "../../styles/_reset.scss" as *;
@use "../../styles/_typography.scss" as *;


.button{
  position: relative;
  height: 3rem;
  width: 9rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #711ff51e;
  color: #251242cb;
  font-family: $primary-font-family;
  font-weight: 900;
  font-size: 0.95rem;
  transition: 300ms;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  padding: 0.2rem;
  font-weight: bolder;
  &:hover{
    cursor: pointer;
    position: relative;
    height: 3rem;
    width: 9rem;
    border-radius: 0.5rem;
    border: none;
    background-color: #711ff5;
    color: $color-white;
    font-family: $primary-font-family;
    font-weight: 900;
    font-size: 0.95rem;
    transition: 300ms;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    padding: 0.2rem;
    font-weight: bolder;
  }
}
