@use "../../styles/_variables.scss" as *;
@use "../../styles/_reset.scss" as *;
@use "../../styles/_typography.scss" as *;

.about{
  height: 70vh;
  width: 100vw;
  min-height: 55rem;
  background-color: rgb(255, 255, 253);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 8rem;
  background-image: url('../../styles/images/background2.png');

  /* Control the positioning and repeat */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &--title{
    font-family: $secondary-font-family;
  }
  &--section{
    display: flex;
    min-height: 50rem;
    width: 100vw;
    align-items: center;
    justify-content: space-around;
    max-width: 80rem;
    &__hidden{
      display: flex;
      width: 100vw;
      align-items: center;
      justify-content: space-around;
      max-width: 80rem;
      opacity: 0;
      transform: translateX(15rem);
    }
    &__visible{
      display: flex;
      width: 100vw;
      align-items: center;
      justify-content: space-around;
      max-width: 80rem;
      opacity: 1;
      transform: translateX(0);
      transition: opacity 2s ease-out, transform 1s ease-out;
    }
  }
}


@media only screen and (max-width: $tablet-breakpoint) {
  .about{
    height: 140vh;
    width: 100vw;
    min-height: 80rem;
    background-color: rgb(255, 255, 253);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 4rem;
    &--title{
      font-family: $secondary-font-family;
    }
    &--section{
      display: flex;
      min-height: 50rem;
      width: 100vw;
      align-items: center;
      justify-content: space-around;
      flex-direction: column;
      max-width: 80rem;
      &__hidden{
        display: flex;
        flex-direction: column;
        width: 100vw;
        align-items: center;
        justify-content: space-around;
        max-width: 80rem;
        opacity: 0;
        transform: translateX(15rem);
      }
      &__visible{
        display: flex;
        width: 100vw;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        max-width: 80rem;
        opacity: 1;
        transform: translateX(0);
        transition: opacity 2s ease-out, transform 1s ease-out;
      }
    }
  }
}
