@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
// @font-face {
//   font-family: 'Bree Serif', serif;;
//   src: url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
// }

@font-face {
  font-family: 'Oswald';;
  src: url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
}

// @font-face {
//   font-family: 'Lato', sans-serif;
//   // font-family: 'Oxanium', cursive;
//   font-family: 'Bree Serif', serif;
//   src: url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Lato&family=Oxanium&display=swap') format("opentype");
// }

// breakpoints
$mobile-breakpoint: 480px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1254px;
$large-desktop-breakpoint: 1640px;
$extra-large-desktop-breakpoint: 2560px;

//main colors
$color-white: #fafafa;
$color-black: #171717;
$color-orange: #E9612C;
$color-grey: #ededed;
$color-mediumgrey: #b7b7b7;
$color-darkgrey: #686868;

// #b831f6 pink
$color-purple: #721ff5;
$color-blue: #658ef7;
// #2d27f5 dark blue


// font weight:
$font-weight-regular: 400;
$font-weight-bold: 700;

//font sizes
$font-size-largest: 6rem;
$font-size-extra-large: 2.5rem;
$font-size-large: 2rem;
$font-size-medium: 1.5rem;
$font-size-small: 1.25rem;
$font-size-extra-small: 1rem;

// letter-spacing:
$letter-spacing: 160%;

$primary-font-family: 'Lato', sans-serif;
$secondary-font-family: 'Oswald', sans-serif;
