@use "../../styles/_variables.scss" as *;
@use "../../styles/_reset.scss" as *;
@use "../../styles/_typography.scss" as *;

.title{
  color: $color-white;
  height: 20rem;
  width: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 8rem;
  margin-top: 2rem;
  &--primary{
    font-family: $secondary-font-family;
    margin: 1rem;
    margin-left: 1rem;
    font-size: 3.5rem;
    margin-top: -1rem;
    font-size: 5rem
  }
  &--secondary{
    width: 25rem;
    font-family: $primary-font-family;
    margin-top: -1rem;
    margin-right: 1rem;
    margin-left: -1.25rem;
    font-size: 1.4rem;
  }
}


@media only screen and (max-width: $desktop-breakpoint) {
  .title{
    color: $color-white;
    height: 20rem;
    width: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: -1rem;
    &--primary{
      font-family: $secondary-font-family;
      margin: 1rem;
      margin-left: 1rem;
      font-size: 3.5rem;
      margin-top: -1rem;
      text-align: center;
    }
    &--secondary{
      width: 25rem;
      font-family: $primary-font-family;
      margin-top: -1rem;
      margin-right: 1rem;
      margin-left: 1rem;
      text-align: center;
      font-size: 1.2rem;
    }
  }
}
