@use "../../styles/_variables.scss" as *;
@use "../../styles/_reset.scss" as *;
@use "../../styles/_typography.scss" as *;

.card--section{
  &__cte{
    height: 26rem;
    width: 22rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 1rem;
    box-shadow: 0rem 0rem 1.5rem rgba(128, 128, 128, 0.586);
    padding-top: 2rem;
    padding-bottom: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    transform: translateY(-4rem);
    p{
      font-size: 1.25rem;
    }
    span{
      color: rgb(43, 0, 255);
    }
    h2{
      color: rgb(43, 0, 255);
      margin-bottom: 3rem;
    }
    &__logo{
      height: 10rem;
      transform: translateY(3.5rem);
      margin-bottom: 4rem;
      aspect-ratio: 1;
    }
    &:hover{
      height: 26rem;
      width: 22rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      border-radius: 1rem;
      box-shadow: 0rem 0rem 1.5rem rgba(43, 0, 255, 0.586);
      padding-top: 2rem;
      padding-bottom: 4rem;
      padding-left: 2rem;
      padding-right: 2rem;
      transform: translateY(-4rem);
      p{
        font-size: 1.25rem;
      }
      span{
        color: rgb(43, 0, 255);
      }
      h2{
        color: rgb(43, 0, 255);
        margin-bottom: 3rem;
      }
    }
  }

  &__git{
    height: 26rem;
    width: 22rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 1rem;
    box-shadow: 0rem 0rem 1.5rem rgba(128, 128, 128, 0.586);
    padding-top: 2rem;
    padding-bottom: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    transform: translateY(4rem);
    p{
      font-size: 1.25rem;
    }
    span{
      color: rgb(215, 10, 10);
    }
    h2{
      color: rgb(215, 10, 10);
      margin-top: 3rem;
    }
    &__logo{
      height: 10rem;
      transform: translateY(-7rem);
      margin-bottom: -4rem;
      aspect-ratio: 1;
    }
    &:hover{
      height: 26rem;
      width: 22rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      border-radius: 1rem;
      box-shadow: 0rem 0rem 1.5rem rgba(215, 10, 10, 0.586);
      padding-top: 2rem;
      padding-bottom: 4rem;
      padding-left: 2rem;
      padding-right: 2rem;
      transform: translateY(4rem);
      p{
        font-size: 1.25rem;
      }
      span{
        color: rgb(215, 10, 10);
      }
      h2{
        color: rgb(215, 10, 10);
        margin-top: 3rem;
      }
      &__logo{
        height: 10rem;
        transform: translateY(-7rem);
        margin-bottom: -4rem;
        aspect-ratio: 1;
      }
    }
  }
}


@media only screen and (max-width: $tablet-breakpoint) {
  .card--section{
    &__cte{
      height: 26rem;
      width: 22rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      border-radius: 1rem;
      box-shadow: 0rem 0rem 1.5rem rgba(128, 128, 128, 0.586);
      padding-top: 2rem;
      padding-bottom: 4rem;
      padding-left: 2rem;
      padding-right: 2rem;
      margin-bottom: 4rem;
      // transform: translateY(-4rem);
      p{
        font-size: 1.25rem;
      }
      span{
        color: rgb(43, 0, 255);
      }
      h2{
        color: rgb(43, 0, 255);
        margin-bottom: 3rem;
      }
      &__logo{
        height: 10rem;
        transform: translateY(3.5rem);
        margin-bottom: 4rem;
        aspect-ratio: 1;
      }
      &:hover{
        height: 26rem;
        width: 22rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border-radius: 1rem;
        box-shadow: 0rem 0rem 1.5rem rgba(43, 0, 255, 0.586);
        padding-top: 2rem;
        padding-bottom: 4rem;
        padding-left: 2rem;
        padding-right: 2rem;
        // transform: translateY(-4rem);
        p{
          font-size: 1.25rem;
        }
        span{
          color: rgb(43, 0, 255);
        }
        h2{
          color: rgb(43, 0, 255);
          margin-bottom: 3rem;
        }
      }
    }

    &__git{
      height: 26rem;
      width: 22rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      border-radius: 1rem;
      box-shadow: 0rem 0rem 1.5rem rgba(128, 128, 128, 0.586);
      padding-top: 2rem;
      padding-bottom: 4rem;
      padding-left: 2rem;
      padding-right: 2rem;
      // transform: translateY(4rem);
      p{
        font-size: 1.25rem;
      }
      span{
        color: rgb(215, 10, 10);
      }
      h2{
        color: rgb(215, 10, 10);
        margin-top: 3rem;
      }
      &__logo{
        height: 10rem;
        transform: translateY(-7rem);
        margin-bottom: -4rem;
        aspect-ratio: 1;
      }
      &:hover{
        height: 26rem;
        width: 22rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border-radius: 1rem;
        box-shadow: 0rem 0rem 1.5rem rgba(215, 10, 10, 0.586);
        padding-top: 2rem;
        padding-bottom: 4rem;
        padding-left: 2rem;
        padding-right: 2rem;
        // transform: translateY(4rem);
        p{
          font-size: 1.25rem;
        }
        span{
          color: rgb(215, 10, 10);
        }
        h2{
          color: rgb(215, 10, 10);
          margin-top: 3rem;
        }
        &__logo{
          height: 10rem;
          transform: translateY(-7rem);
          margin-bottom: -4rem;
          aspect-ratio: 1;
        }
      }
    }
  }
}
