@use "../../styles/_variables.scss" as *;
@use "../../styles/_reset.scss" as *;
@use "../../styles/_typography.scss" as *;

.intro{
  height: 91vh;
  min-height: 50rem;
  width: 100vw;
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-bottom: -0.5rem;
  &--info{
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 1;
  }
  &--line-one{
    height: 370px;
    background-color: $color-purple;
    width: 50rem;
    transform: translateY(6rem) rotateZ(20deg);
    box-shadow: 3rem 3rem 5rem 10rem $color-purple;
    opacity: 0.4;
  }
  &--line-two{
    // height: 50px;
    // background-color: $color-purple;
    // width: 30rem;
    // transform: translateY(-13rem) translateX(-15rem) rotateZ(40deg);
  }
}


@media only screen and (max-width: $desktop-breakpoint) {
  .intro {
    height: 90vh;
    margin-top: 10vh;
    width: 100vw;
    &--info{
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-around;
      z-index: 1;
    }
  }
}
