@use "../../styles/_variables.scss" as *;
@use "../../styles/_reset.scss" as *;
@use "../../styles/_typography.scss" as *;

.intro{
  height: 91vh;
  max-height: 54rem;
  min-height: 50rem;
  width: 100vw;
  margin-top: 6rem;
  position: relative;
  overflow-y: hidden;
  &--info{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 1;
  }
}


// @media only screen and (max-width: $desktop-breakpoint) {
//   .intro {
//     height: 90vh;
//     margin-top: 10vh;
//     width: 100vw;
//     &--info{
//       display: flex;
//       align-items: center;
//       flex-direction: column;
//       justify-content: space-around;
//       z-index: 1;
//     }
//   }
// }

@media only screen and (max-width: $desktop-breakpoint) {
  .intro {
    height: 120vh;
    margin-top: 10vh;
    width: 100vw;
    &--info{
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-around;
      z-index: 1;
      transform: translateY(-5rem);
    }
  }
}

@media only screen and (max-width: $tablet-breakpoint) {
  .intro {
    height: 120vh;
    margin-top: 10vh;
    width: 100vw;
    overflow-x: hidden;
    &--info{
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-around;
      z-index: 1;
      transform: translateY(-5rem);
    }
  }
}
