@use "../../styles/_variables.scss" as *;
@use "../../styles/_reset.scss" as *;
@use "../../styles/_typography.scss" as *;

.product-selection-card-selected{
  width: 18rem;
  height: 27rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: $color-white;
  border-radius: 0.5rem;
  border: 2px solid $color-black;
  margin-bottom: 10rem;
  &:hover{
    cursor: pointer;
  }
  &--list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    text-align: center;
    &__item{
      font-size: 1rem;
      font-weight: 500;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      padding-left: 1rem;
      padding-right: 1rem;
      width: 100%;
    }
  }
  &--header{
    background-color: $color-purple;
    height: 4rem;
    width: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    border: 3px solid $color-black;
    transform: translateY(-2.5rem);
    h5{
      color: $color-white;
      text-align: center;
      font-weight: 600;
    }
  }
  &--footer{
    background-color: $color-purple;
    height: 1.5rem;
    width: 12rem;
    border-radius: 0.5rem;
    border: 3px solid $color-black;
    transform: translateY(1.5rem);
  }
  h2{
    text-align: center;
    margin-bottom: 2rem;
    font-size: 4rem;
    font-weight: 400;
    span{
      font-weight: 400;
      font-size: 1.25rem;
    }
  }
  h3{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 4rem;
    font-weight: 500;
    padding-left: 3rem;
    padding-right: 3rem;
  }
}



.product-selection-card{
  width: 18rem;
  height: 27rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: $color-white;
  border-radius: 0.5rem;
  border: 1px solid $color-darkgrey;
  margin-bottom: 10rem;
  &:hover{
    cursor: pointer;
    border: 2px solid $color-black;
    h2{
      color: $color-black;
    }
    h3{
      color: $color-black;
    }
    &--header{
      h5{
        font-weight: 700;
      }
    }
  }
  &--list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    text-align: center;
    &__item{
      font-size: 1rem;
      font-weight: 500;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      padding-left: 1rem;
      padding-right: 1rem;
      width: 100%;
    }
  }
  &--header{
    background-color: #d4c0f4;
    height: 4rem;
    width: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    border: 1px solid $color-darkgrey;
    transform: translateY(-2.5rem);
    h5{
      color: $color-black;
      text-align: center;
      font-weight: 500;
    }
  }
  &--footer{
    background-color: #d4c0f4;
    height: 1.5rem;
    width: 12rem;
    border-radius: 0.5rem;
    border: 1px solid $color-black;
    transform: translateY(1.5rem);
  }
  h2{
    text-align: center;
    margin-bottom: 2rem;
    font-size: 4rem;
    font-weight: 400;
    color: $color-darkgrey;
    span{
      font-weight: 400;
      font-size: 1.25rem;
    }
  }
  h3{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 4rem;
    font-weight: 500;
    padding-left: 3rem;
    padding-right: 3rem;
    color: $color-grey;
  }
}
