@use "./styles/_variables.scss" as *;
@use "./styles/_reset.scss" as *;
@use "./styles/_typography.scss" as *;

.app {
  background-color: $color-black;
  height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
}

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }
